node_modules
.env

# Locally built project files.
/build
/public/build
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
.env


# Local caching files
/.cache
.cache
.cache.json
wrangler-local-state/*
/.wrangler

.mf/*
.DS_Store